{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>About Me</h2>
            <p>Hi there! I'm Nhlosokuhle Bandile Khoza, and I'm driven by my deep passion for programming. 
                It all began in 2017 when I took my first steps into the world of coding with Delphi. 
                That very moment ignited a spark within me, revealing my true calling.
            </p>
            <p>What truly thrills me as a programmer is the ability to harness technology and tackle real-life challenges head-on. 
                Recently, I've been immersed in a range of exciting technologies, including Python, CSS, HTML, Django, and SQL. 
                With these tools, I'm determined to make a meaningful impact.
            </p>
        </div>
    </div>
{% endblock %}